* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodyReg {
    background-image: url(https://cff2.earth.com/uploads/2022/07/08123100/Pets-scaled.jpg);
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.form-container {
    width: 90%; /* Adjusted width */
    max-width: 500px; /* Added maximum width */
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    position: relative; 
    padding: 30px;
    z-index: 1; 
}

.form-container h1 {
    color: black;
    font-weight: bold;
}

.form-container::before,
.form-container::after {
    content: '';
    position: absolute;
    width: 20vw; /* Adjusted width */
    height: 20vw; /* Adjusted height */
    border-radius: 50%;
    opacity: 0.2; 
    z-index: -1;
}

.form-container::before {
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); /* Centering */
}

.form-container::after {
    bottom: 50%; 
    right: 50%; 
    transform: translate(50%, 50%); /* Centering */
}

.form-group {
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: black;
}

.form-group label {
    margin-bottom: 5px;
}

.form-control {
    width: 100%; /* Adjusted width */
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: black;
}

.btn {
    display: block;
    width: 100%; /* Adjusted width */
    padding: 10px;
    letter-spacing: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
}

.btn:hover {
    background-color: #0056b3;
}

NavLink {
    color: #1c75d3;
    text-decoration: none;
}

NavLink:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .form-container {
        padding: 20px; /* Adjusted padding */
    }
  
    .form-control,
    .btn {
        font-size: 14px;
    }
  
    .form-container::before,
    .form-container::after {
        width: 10vw; /* Adjusted width */
        height: 10vw; /* Adjusted height */
    }
}
