/* SearchBar.css */

:root {
  --border-radius: 4px;
  --border-color: #ccc;
  --button-bg-color: #4caf50;
  --button-color: white;
  --button-padding: 8px 16px;
  --input-padding: 8px;
  --result-border-color: #ccc;
  --result-padding: 10px;
  --result-margin: 10px;
}

.search-container {
  margin-top: 10px;
}

.search-input {
  padding: var(--input-padding);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  width: 200px;
  margin-right: 10px;
  flex-grow: 1;
  
}

.search-button {
  padding: var(--button-padding);
  background-color: var(--button-bg-color);
  color: var(--button-color);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  outline: none;
}

.search-button:hover {
  background-color: #3e8e41;
}

.search-button:focus {
  box-shadow: 0 0 2px 1px var(--button-bg-color);
}

.search-results {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: var(--result-margin);
}

.search-results ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.search-results ul li {
  border: 1px solid var(--result-border-color);
  border-radius: var(--border-radius);
  padding: var(--result-padding);
}

.search-results ul li img {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}